<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
    <div class="menu">
        <a href="https://entregas-automacao.onrender.com/">Projetos</a>
        <a href="https://entregas-automacao.onrender.com/cursos">Cursos</a>
        <a href="https://entregas-automacao.onrender.com/bio">Bio</a>
        <a href="https://entregas-automacao.onrender.com/dinamica">Dinâmica</a>
        <a href="https://entregas-automacao.onrender.com/sobre">Sobre dinâmica</a>
    </div>
</body>
</html>